

.container {
  width: 800px;
  margin: auto;
  padding: 20px;
  background-color: darkred
}

h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
}

#slider {
  position: relative;
  height: 300px;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.slide-text {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  padding: 40px;
  padding-left: 60px;
  position: relative;
}

.slide-text:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  left: calc(50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 26px 0 0;
  border-color: white transparent transparent transparent;
}

.slide-testimonial {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-img {
  margin: 10px;
}

.slide-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid white;
}

.slide-person {
  margin-left: 20px;
}

.slide-person p {
  padding: 5px;
}

.slide-person p:first-of-type {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.slide-person p:last-of-type {
  color: var(--color-light-gray)
}

.slider-button {
  top: 35px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  width: 40px;
  height: 50px;
  background-color: var(--color-highlight-green);
  z-index: 3;
  position: relative;
  text-align: center;
  border-radius: 20%;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: ceter;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-left {
  position: absolute;
  left: -10px;
  margin-right: auto
}

.button-right {
  position: absolute;
  right: -10px;
  margin-left: auto
}