/* DOCUMENT SETTINGS */

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: 16px;
}

:root {
  --bg-section: #374057;
  --color-headers: #2c3e50;
  --color-highlight-green: #00af4e;
  --color-light-gray: #eeeff2;
}

body {
  /* make the body full height */
  height: 100vh;
  background-color: rosybrown
}

/*  NAV STYLING BELOW THIS LINE */
/*  whole nav */
nav {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  background-color: hsl(0, 41%, 34%);
  height: 50px;
  padding-top: 10px;
  border-bottom: 1.5px solid whitesmoke;
}

/* company name */
nav .brand-name {
  text-decoration: none;
  color: black;
}

/* LEFT SIDE */

.left-side {
  width: 50%;
}

/* just the links */
nav a {
  display: inline-flex;
  list-style-type: none;
  margin-top: 0;
  height: 100%;
}

nav .links {
  display: inline;
}


nav .links a:hover {
  background-color: hsl(0, 41%, 30%);
  border: 1px solid hsl(0, 65%, 42%);
  width: calc(+5%)
}

nav a:nth-child(n+1) {
  margin-left: 15px;

}


/* NAV RIGHT SIDE*/

.right-side {
  width: 50%;
}
#brandMessage {
  font-weight: 700;
}

#loginSection {
  display: inline;
  font-style: italic;
  margin-left: auto;
}

nav input {
  background-color: whitesmoke;
  width: 150px;
}


#username, #password {
  display: inline;
  margin-left: 10px;
  margin-right: 5px;
}




nav button {
  width: 75px;
  border-radius: 35px;
  background-color: gold;
  height: 30px;
  padding-bottom: 1em;
  ;
  padding-left: 1em;
  margin-right: 1em;
  text-align: justify;
}

/* NAV STYLING ABOVE THIS LINE */



/* FOOTER STYLING BELOW THIS LINE */

.footer {
  display: flex;
  justify-content: space-between;
}

/* FOOTER STYLING ABOVE THIS LINE */