/*  NAV STYLING BELOW THIS LINE */
/*  whole nav */
nav {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  background-color: cadetblue;
  height: 50px;
  padding-top: 10px;
  border-bottom: 3px solid gray;
  justify-content: space-between;
}

/* company name */
nav .company-name {
  text-decoration: none;
  color: black;
  
}

/* just the links */
nav ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
}

nav .links {
  display: inline;
}

nav ul li:nth-child(n+1) {
  margin-left: 15px;

}


/* NAV RIGHT SIDE*/


#brandMessage {
  font-weight: 700;
}

#loginSection {
  display: inline;
  font-style: italic;
  margin-left: auto;
}

nav input {
  background-color: whitesmoke;
  width: 150px;
}


#username, #password {
  display: inline;
  margin-left: 10px;
  margin-right: 5px;
}




nav button {
  width: 75px;
  border-radius: 35px;
  background-color: gold;
  height: 30px;
  padding-bottom: 1em;
  ;
  padding-left: 1em;
  margin-right: 1em;
  text-align: justify;
}

/* NAV STYLING ABOVE THIS LINE */